---
layout: default
title: Publications
body_class: publications
---

<section>
  <h2>Publications</h2>
  <ul class="publication-list">
    {% for publication in site.data.publications %}
    <li>
      {{ publication.authors }}. {{ publication.year }}.
      <em>{{ publication.title }}</em>
      {% if publication.venue %}{{ publication.venue }}{% endif %}
      {% if publication.details %}{{ publication.details }}{% endif %}
      {% if publication.doi_url and publication.doi_label %}
      <a href="{{ publication.doi_url }}" target="_blank" rel="noreferrer">[{{ publication.doi_label }}]</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
